<form method="post" action="{{ path('app_dashboard_page_delete', {'id': content.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce contenu ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ content.id) }}">
	<button title="Supprimer" class="btn btn-circle btn-danger">
		<i class="fa-solid fa-trash"></i>
	</button>
</form>
