* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', arial, sans-serif;
}

body {
	overflow-x: hidden;
	background-color: #fff;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	font-size: 13px;
	line-height: 22px;
	color: #4a4a4a;
}

.white-border-button a {
	padding: 14px 20px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}

.pink-button a {
	padding: 14px 20px;
	background-color: #b94e5e;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}

.white-button a {
	padding: 14px 20px;
	background-color: #fff;
	border-radius: 30px;
	color: #121212;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}


.banner .col-md-8 {
	padding-left: 0px;
	padding-right: 5px;
}

.banner .col-md-4 {
	padding-right: 0px;
	padding-left: 5px;
}


.banner .left-banner-content {
	padding-top: 175px;
	padding-bottom: 175px;
	padding-left: 120px;
	text-align: left;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 680px;
	height: 680px;
}

.left-banner-content h6 {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

.left-banner-content h1 {
	font-size: 64px;
	font-weight: 300;
	color: #fff;
	line-height: 70px;
}

.left-banner-content h2 {
	font-size: 22px;
	font-weight: bold;
	color: #121212;
	padding-bottom: 30px;
}

.left-banner-content .line-dec {
	width: 60px;
	height: 3px;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #fff;
}

.left-banner-content .white-border-button {
	margin-top: 52px;
}

.left-banner-content .page-title {
	background-color: rgba(244, 188, 81, 0.9);
	border-radius: 10px 0px 0px 10px;
}

.right-banner-content {
	padding: 100px 45px;
	background-color: #f4bc51;
	text-align: center;
	min-height: 680px;
	height: 680px;
}

.right-banner-content h2 {
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-bottom: 5px;
}

.right-banner-content .line-dec {
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 30px auto;
}

.right-banner-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}

.right-banner-content em {
	font-style: normal;
	font-weight: 700;
}

.right-banner-content p {
	font-style: italic;
	font-size: 13px;
	color: #fff;
}

.right-banner-content .social-icons {
	margin-top: 40px;
	padding: 0;
	list-style: none;
}

.right-banner-content .social-icons li {
	display: inline-block;
	margin: 0px 3px;
}

.right-banner-content .social-icons li a {
	width: 36px;
	height: 36px;
	text-align: center;
	display: inline-block;
	line-height: 36px;
	background-color: #fff;
	border-radius: 50%;
	transition: all 0.5s;
	color: #f4bc51;
	font-size: 17px;
}

.right-banner-content .social-icons li a:hover {
	background-color: #d59b2b;
}




.description {
	margin-top: 10px;
}

.description .col-md-4 {
	padding-left: 0px;
	padding-right: 5px;
}

.description .col-md-8 {
	padding-right: 0px;
	padding-left: 5px;
}

.description-left-content {
	min-height: 550px;
	height: 550px;
	padding-top: 175px;
	padding-bottom: 175px;
	text-align: center;
	background-image: url(../img/by_me_acceuil.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.description-left-content .icon {
	text-align: center;
	margin: 0 auto;
	width: 140px;
	height: 140px;
	line-height: 140px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
}

.description-left-content h4 {
	margin-top: 33px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.description-right-content {
	background-color: #eee;
	padding: 50px 150px;
	min-height: 550px;
	height: 550px;
	text-align: center;
}

.description-right-content h2 {
	margin-top: 0px;
	font-size: 32px;
	font-weight: 300;
	color: #121212;
	line-height: 36px;
}

.description-right-content em {
	font-style: normal;
	color: #b94e5e;
	font-weight: 700;
}

.description-right-content p {
	margin: 18px 0px;
}

.description-right-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.description-right-content ul li {
	display: block;
	font-size: 13px;
	font-style: italic;
	color: #7a7a7a;
	font-weight: 300;
	margin-bottom: 10px;
}

.description-right-content .pink-button {
	margin-top: 35px;
}

.contact-us .col-md-8 {
	padding-left: 0px;
	padding-right: 5px;
}

.contact-us .col-md-4 {
	padding-right: 0px;
	padding-left: 5px;
}


#contact .col-md-4 {
	padding-right: 15px;
	padding-left: 15px;
}


.contact-us {
	margin-top: 0px;
}

.contact-us #contact {
	min-height: 700px;
	height: 500px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 120px;
	padding-right: 120px;
	text-align: center;
	background-color: rgba(244, 188, 81, 0.8);
	background-position: center center;
}

#contact h1 {
	color: #fff;
	line-height: 50px;
	padding-bottom: 20px;
}

#contact input {
	border-radius: 0px;
	padding-left: 15px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.1);
	border-bottom: 2px solid #fff;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	box-shadow: none;
	line-height: 40px;
	height: 40px;
	width: 100%;
	margin-bottom: 30px;
}

#contact textarea {
	border-radius: 0px;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.1);
	border-bottom: 2px solid #fff;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	box-shadow: none;
	height: 165px;
	max-height: 165px;
	min-height: 165px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin-bottom: 25px;
}

#contact button {
	float: left;
	padding: 14px 20px;
	background-color: #f39e4b;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
	outline: none;
}

footer {
	height: 80px;
	margin-top: 10px;
	background-color: #232424;
	text-align: center;
}

footer p {
	font-size: 13px;
	color: rgb(255, 255, 255);
	line-height: 80px;
	margin-bottom: 0px;
}

footer p em {
	font-weight: 700;
	font-style: normal;
}

@media (max-width: 991px) {

	.banner .col-md-8 {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.banner .col-md-4 {
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.banner .left-banner-content {
		padding-left: 0px;
		text-align: center;
	}

	.left-banner-content h1 {
		font-size: 64px;
		font-weight: 300;
		color: #fff;
		line-height: 80px !important;
	}


	.banner .left-banner-content .line-dec {
		margin: 0 auto;
	}

	.description .col-md-8 {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.description .col-md-4 {
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.description-right-content {
		text-align: center;
	}

	.description-right-content {
		background-color: #eee;
		padding: 30px 30px;
		min-height: 550px;
		height: auto;
	}

	.description-right-content .pink-button {
		margin-bottom: 50px;
	}

	.contact-us .col-md-8 {
		margin-top: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.contact-us .col-md-4 {
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.contact-us #contact {
		padding-left: 60px;
		padding-right: 60px;
	}

	.contact-us #contact {
		min-height: 600px;
		height: 600px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	footer {
		margin-right: 10px;
		margin-left: 10px;
	}

	footer p {
		font-size: 11px;
	}

}