<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p>Copyright &copy; 2022
					<a class="scroll-link" data-id="top" href="{{ path('app_index') }}">
						By me By BO
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>
