<form method="post" action="{{ path('app_dashboard_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce mail contact ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
	<button title="Supprimer" class="btn btn-circle btn-danger">
		<i class="fa-solid fa-trash"></i>
	</button>
</form>
