<!DOCTYPE html>
<html lang='fr'>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}By me By BO
			{% endblock %}
		</title>
		<meta name="description" content="By me By BO est votre partenaire pour tous les évènements marquants de votre vie ou de votre entreprise.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('global') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}

		{% include "public/footer.html.twig" %}
	</body>
</html>
